.quiz {
  background-color: rgb(243, 239, 233);
  padding: 35px;
}

.header-text {
  display: flex;
  justify-content: center;
}

.quiz-header {
  margin-top: 60px;
  margin-bottom: 10px;
  width: 90%;
  align-items: center;
  padding: 10px;
}

.quiz-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 45px;
  margin: 100px 50px;
}

@media only screen and (min-width: 688px) and (max-width: 992px) {
  .quiz-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 0px 0px;
  }
}

@media screen and (max-width: 688px) {
  .quiz-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    margin: 0px 0px;
  }
}
