.statistic {
  margin-top: 70px;
  text-align: center;
}

.footer {
  margin-top: 200px;
}

@media only screen and (min-width: 688px) and (max-width: 992px) {
  .footer {
    margin-top: 500px;
  }
}

@media screen and (max-width: 688px) {
  .footer {
    margin-top: 900px;
  }
}
